<h1 class = "center">Student Rosters</h1>
<nav class = "navbar">
    <ol class="breadcrumb">
        <% for(var i = 0; i < navData.breadcrumb.length; i++) { %>
            <li><a href="<%= navData.breadcrumb[i][1] %>"><%= navData.breadcrumb[i][0] %></a></li>
        <% } %>
        <li class="active"><%= navData.currentPage %></li>
    </ol>
</nav>
