<!doctype html>
<html>
<head>
     <% include partials/header %>
</head>
<style type="text/css">
    body {margin-top: 10%;}
</style>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-user"></span> Student Rosters</h1>

        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Register with Facebook</a>
        <a href="/login" class="btn btn-default">Teacher Login</a>
        <a href="/signup" class="btn btn-default">Teacher Signup</a>

    </div>

</div>
</body>
</html>