<!doctype html>
<html>
<head>
     <% include ../partials/header %>
</head>
<body>
<div class="container">

        <div class="page-header text-center">
            <h1><span class="fa fa-anchor"></span> Welcome <%= currentUser %></h1>
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        </div>
        <!-- Local Information -->

        <ul class="list-group"> Your Classes
            <% for(var i = 0; i < classes.length; i ++) { %>
                <li class = "list-group-item"><a href = "/classes/<%= classes[i].className %>"><%= classes[i].className %></a></li>
            <% } %>
        </ul>

        <a href = "/classes/create"><button type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-plus"></span> Add a Class
        </button></a>

    </div>
</div>
</body>
</html>