<html>
<head>
     <% include ../partials/header %>
</head>
<body>
    <div class = "container">
        <h1>Create a Class</h1>
        <form action="/classes/create" method="post">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Class Name" name="classname">
            </div>

            <br />

            <button type="button" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-plus"></span> Create
            </button>

        </form>

    </div>
</body>
