<html>
<head>
     <% include ../partials/header %>
</head>
<body>
    <div class = "container">
        <div class = "row">

            <div class="col-md-6">
                <h1><%= classData.className %></h1>
            </div>

            <div class="col-md-6">
                <% if (enrollments.length == 0) { %>
                    <h2> There are no students <h2/>
                <% } else { %>
                <h2>Students</h2>
                <ul><% for(var i = 0; i < enrollments.length; i ++) { %>
                    <li><%= enrollments[i].student %></li>
                    <% } %>
                </ul>
                <% } %>

                <a href = "/enrollments/<%= classData.className %>/create"><button type="button" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-plus"></span> Add Students
                </button></a>
            </div>

        </div>
        
    </div>
</body>
