<html>
<head>
    <% include ../partials/header %>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body>
    <div class = "container">
        <% include ../partials/navbar %>
        <div class = "row">

            <div id = "playground" class = "col-md-10 col-xs-6">
                <button type = "button" class = "btn btn-success btn-lg" id = "startGame">
                    <span class = "glyphicon glyphicon-play"></span> Start Game
                </button>
            </div>

            <div id = "score" class = "col-md-2 col-xs-6">
            </div>

        </div>
    </div>
    <script type="text/javascript" src = "/js/game.js"></script>
</body>